:root {
  --VeryDarkMagenta: hsl(300, 43%, 22%);
  --SoftPink: hsl(333, 80%, 67%);
  --DarkGrayishMagenta: hsl(303, 10%, 53%);
  --LightGrayishMagenta: rgb(247, 242, 247);
  --White: hsl(0, 0%, 100%);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}
body {
  width: 100vw;
  height: 100vh;
  font-size: 15px;
  display: flex;
  background-color: black;
  justify-content: space-around;
}
.box {
  background-color: var(--White);
  height: 100%;
  width: 85vw;
  display: flex;
}
.content {
  display: flex;
  flex-direction: column;
  margin: 50px 50px 0px 50px;
  padding: 60px 60px 0px 60px;
}

.container1 {
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.info {
  width: 40%;
  display: flex;
  flex-direction: column;
}
.heading {
  height: 50%;
}
.heading h1 {
  color: var(--VeryDarkMagenta);
  font-size: 50px;
  line-height: 45px;
}
.para {
  height: 50%;
  margin-top: 10px;
  font-size: 15px;
  line-height: 22px;
  color: var(--DarkGrayishMagenta);
}
.container2 {
  height: 50%;
  display: flex;
  flex-direction: row;
}

.ratings {
  width: 50%;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 14px;
}

.rating-box-1,
.rating-box-2,
.rating-box-3 {
  background-color: var(--LightGrayishMagenta);
  width: 400px;
  height: 50px;
  margin-bottom: 14px;
  padding: 15px;
  border-radius: 6px;
  position: relative;
}
.rating-box-2 {
  left: 40px;
}
.rating-box-3 {
  left: 80px;
}
.fa-star {
  margin-right: 5px;
  color: gold;
}
.ratings p {
  display: inline-block;
  margin-left: 8px;
}

.card1,
.card2,
.card3 {
  display: flex;
  background-color: var(--VeryDarkMagenta);
  width: 320px;
  height: 211px;
  color: white;
  margin-right: 30px;
  border-radius: 8px;
  flex-direction: column;
  padding: 25px 25px 0px 25px;
  font-size: 14px;
  position: relative;
}
.card2 {
  top: 10px;
}
.card3 {
  top: 20px;
}
img {
  border-radius: 50px;
  width: 40px;
  height: 40px;
  margin-right: 18px;
}
.profile {
  display: flex;
  margin-bottom: 19px;
}
.verified {
  margin-top: 2px;
  color: var(--SoftPink);
}
